@model CoffeeCafe.Models.Customer

@{
    ViewData["Title"] = "Member Profile";
}

<div class="text-center">
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        
        @if (Model.IsBrewCrew)
        {
            <h1>Welcome Back</h1>
                <h1>@Model.FirstName @Model.LastName!</h1>
            <h2>There is a new special on Sumatran blends!</h2>
        }
        else
        {             
            <h1>@Model.FirstName @Model.LastName!</h1>
                <h2>Welcome To the Crew</h2>
            <h4>Take 50% Your Total Order Today!</h4>
        }
    </div>
    <div class="col-4"></div>
</div>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBrewCrew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBrewCrew)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CreateOrEdit" asp-route-id="@Model?.CustomerId">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>